# Binários
*.o
*.bin
src/capture/capture

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
env/

# Capturas do usuário
captures/*.bin
captures/*.vcd

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
